.grid{
    width: 100%;
    display: block;
    padding: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row.medium-gutters .col{
    padding-left: 4px;
    padding-right: 4px;
}
.row.medium-gutters{
    margin-left: -4px;
    margin-right: -4px;
}

.row.large-gutters .col{
    padding-left: 8px;
    padding-right: 8px;
}
.row.large-gutters{
    margin-left: -8px;
    margin-right: -8px;
}

@media (min-width: 600px) and (max-width: 1113px){
    .m-0{
        display: none;
    }

    .m-1-2,
    .m-5-2,
    .m-12{
        display: block;
    }

    .m-12{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-1-2{
        flex: 0 0 10%;
        max-width: 10%;
    }

    .m-5-2{
        flex: 0 0 45%;
        max-width: 45%;
    }
}

@media (min-width: 1114px){
    .wide{
        width: 1200px;
    }

    .grid .wide{
        margin: 0 auto;
    }

    .l-0{
        display: none;
    }

    .l-4{
        display: block;
    }

    .l-4{
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

