.header-sec {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding: 0 16px;
  height: 56px;
  background-color: var(--light-color);

  .icons-div {
    .nav-btn {
      font-size: 20px;
      padding: 9px 11px; 
      cursor: pointer;
      margin-top: 2px;
      border-radius: 50%;

      &:hover {
        background-color: rgba($color: #c0bdbd, $alpha: 0.4);
      }
    }

    .main-icon {
      position: relative;
      width: 120px;
      height: 60px;
      padding: 18px 14px 18px 16px;

      &::after {
        content: "VN";
        position: absolute;
        top: 22%;
        right: -3%;
        font-size: 10px;
        border-color: var(--border-color);
        // border: 6px solid transparent;
        // border-color: #aaa transparent transparent transparent;
        // border-top-color: var(--primary-color);
      }
    }
  }

  .search-div{
    .input-box{
      width: 535px;
      color: var(--grey-color);
      
      .search-cover{
        position: relative;
        .before-search-btn{
          position: absolute;
          font-size: 15px;
          padding: 8px 24px;
          color: black;
          text-align: center;
          left: -1%;
          top: 4%;
        }

        .form-control{
          // padding-left: 54px !important; 
          // margin-left: -54px;
          width: 94%;
          height: 40px;
          border-top-left-radius: 24px;
          border-bottom-left-radius: 24px;
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
          border: 1px solid;
          border-color: var(--border-color);
          font-size: 16px;
          padding: 8px 16px;
    
          &:focus{
            box-shadow: none;
            border-color: var(--blue-color);
          }
  
          &::placeholder{
            color: var(--border-bold-color);
          }
        }
  
        .form-control-change{
          padding-left: 9% !important;
          width: 100% !important; 
          // margin-left: -54px !important;
          // margin-left: 0 !important;
        }
      }

    }
    
    .search-btn{
      position: relative;
      height: 40px;
      font-size: 18px;
      width: 64px;
      padding: 8px 16px;
      background-color: var(--grey-color);
      text-align: center;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      //
      border-bottom: 1px solid;
      border-top: 1px solid;
      border-right: 1px solid;
      border-color: var(--border-color);
      cursor: pointer;
      

      &:hover {
        background-color: rgba($color: #c0bdbd, $alpha: 0.4);
      }

      &:hover::after{
        position: absolute;
        content: "Search";
        background-color: var(--black-hover-span);
        color: white;
        font-size: 11px;
        padding: 8px 6px;
        border-radius: 4px;
        bottom: -120%;
        right: 10%;
      }
    }

    .audio-btn{
      position: relative;
      border-radius: 24px;
      background-color: var(--grey-color);
      width: 40px;
      font-size: 18px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 16px;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: #c0bdbd, $alpha: 0.4);
      }

      &:hover::after{
        position: absolute;
        content: "Search width your voice";
        background-color: var(--black-hover-span);
        color: white;
        font-size: 11px;
        padding: 8px 6px;
        border-radius: 4px;
        bottom: -120%;
        right: -120%;
        width: 140px;
      }
    }
  }

  .account-div{
    // width: 20px;
    .setting-btn{
      position: relative;
      width: 40px;
      margin-right: 16px;
      font-size: 20px;
      padding: 8px;
      text-align: center;
      cursor: pointer;

      &:hover{
        // background-color: rgba($color: #c0bdbd, $alpha: 0.4);
      }

      &:hover::after{
        position: absolute;
        content: "Settings";
        background-color: var(--black-hover-span);
        color: white;
        font-size: 11px;
        padding: 8px 6px;
        border-radius: 4px;
        bottom: -80%;
        right: -30%;
      }
    }

    .sign-in-btn{
      padding-right: 16px;
      width: 100px;
      border: 1px solid var(--border-2-color);
      color: var(--blue-color);
      border-radius: 24px;
      padding: 8px;
      
      i{
        font-size: 20px;
        margin-right: 8px;
      }

      span{
        font-weight: 550;
        font-size: 14px;
      }

      &:hover{
        background-color: rgba($color: #105ec5, $alpha: 0.2);
      }
    }
  }
}
