.mg-col-1{
  margin-left: 8.33333%;
}

.mg-col-2{
  margin-left: 16.66667%;
}

.mg-col-3{
  margin-left: 25%;
}

.mg-col-4{
  margin-left: 33.33333%;
}

.mg-col-5{
  margin-left: 41.66667%;
}

.mg-col-6{
  margin-left: 50%;
}

.mg-col-7{
  margin-left: 58.33333%;
}

.mg-col-8{
  margin-left: 66.66667%;
}

.mg-col-9{
  margin-left: 75%;
}

.mg-col-10{
  margin-left: 83.33333%;
}

.mg-col-11{
  margin-left: 91.66667%;
}