.video-card-sec {
  position: relative;

  .more-icon{
    position: absolute;
    width: 4px;
    right: 4%;
    font-size: 16px;
    font-weight: 600;
    top: 0%;
    cursor: pointer;
  }

  &:not(:first-child) {
    margin-top: 12px;
  }

  .video-store {
    position: relative;
    display: block;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    height: 94px;

    .video-iframe {
      cursor: pointer;
      object-fit: cover;
      // pointer-events: none;
    }

    .clock-add-list {
      position: absolute;
      top: 4px;
      right: 8px;
      display: flex;
      flex-direction: column;
      .clock,
      .add-list {
        padding: 0 4px;
        font-size: 18px;
        border-radius: 4px;
        color: white;
        background-color: black;
        font-weight: 600;
      }

      .clock{
        margin-bottom: 4px;
      }
    }

    .time-span {
      position: absolute;
      padding: 0 4px;
      font-size: 12px;
      border-radius: 4px;
      color: white;
      background-color: black;
      bottom: 4px;
      right: 8px;
      font-weight: 600;
    }

    .thumb-nail {
      width: 100%;
      height: 90px;
      cursor: pointer;
      border-radius: 10px;
      object-fit: cover;
      transition: opacity 0.3s ease-in-out;
    }
  }

  .content {
    padding-right: 24px;
    cursor: pointer;

    .info {
      .title {
        font-size: 14px;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 6px;
      }

      .channel-name {
        color: rgba($color: #5f5b5b, $alpha: 1);
        font-size: 12px;
      }

      .views-date {
        color: rgba($color: #5f5b5b, $alpha: 1);
        font-size: 12px;

        .dot {
          height: 3px;
          width: 3px;
          background-color: rgba($color: #5f5b5b, $alpha: 1);
          border-radius: 50%;
          align-self: center;
          margin-left: 6px;
          margin-right: 4px;
        }

        .date {
          list-style-type: circle;
          list-style-position: inside;
        }
      }
    }
  }

  .d-none {
    display: none;
    transition: all ease-in-out 0.3s;
    border-radius: 0;
  }
}
