.video-card-sec {

  &:not(:first-child){
    padding-top: 12px;
  }

  .video-store{
    position: relative;
    display: block;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    height: 90px;

    .video-iframe{
      cursor: pointer;
      object-fit: cover;
      // pointer-events: none;
    }

    .thumb-nail {
      width: 100%;
      height: 90px;
      cursor: pointer;
      border-radius: 12px;
      object-fit: cover;
      transition: opacity 0.3s ease-in-out;
    }
  }

  .content {
    padding-right: 24px;
    cursor: pointer;
    
    .info {
      .title {
        font-size: 14px;
        font-weight: 700;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin-bottom: 6px;
      }

      .channel-name {
        color: rgba($color: #5f5b5b, $alpha: 1);
        font-size: 12px;
      }

      .views-date {
        color: rgba($color: #5f5b5b, $alpha: 1);
        font-size: 12px;

        .dot {
          height: 3px;
          width: 3px;
          background-color: rgba($color: #5f5b5b, $alpha: 1);
          border-radius: 50%;
          align-self: center;
          margin-left: 6px;
          margin-right: 4px;
        }

        .date {
          list-style-type: circle;
          list-style-position: inside;
        }
      }
    }
  }

  .d-none {
    display: none;
    transition: all ease-in-out 0.3s;
    border-radius: 0;
  }
}
